<div class="container">
  <h3>Wikinimous</h3>
  <h5>New Article</h5>
</div>

<div class="container">
  <ul>
    <% @articles.each do |article|  %>
      <li> <%= link_to article.title, article_path(article.id) %></li>
      <p> <%= article.content %></p>
    <% end %>
  </ul>
</div>
